*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    font-size: clamp(14px, 2vw, 18px);
}
body{
    background-color: #faf4e6;
}
.auth-section{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    height: 100vh;
}
.auth-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}
header{
    display: flex;
    align-items: end;
    gap: 10px;
    flex-direction: row;
    margin-right: auto;
}
.auth-container h1{
    font-size: 1.5rem;
    color: #333333;
} 
.auth-container h2{
    font-size: 2.5rem;
    color: #333333;
    margin-bottom: 50px;
}
.auth-container p{
    font-size: 1.2rem;
    color: #666666;
}
.auth-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.auth-pic{
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.auth-pic img{
    width: 100%;
    height: 100%;
}
.auth-logo{
    width: clamp(50px, 10vw, 50px);
    height: clamp(50px, 10vw, 50px);
    margin-right: 10px;
    border-radius: 50%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
input{
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
button{
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #4c429b;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}
button:hover{
    background-color: #3b357a;
}
label{
    font-size: 0.8rem;
    color: #33333387;
}
form a{
    color: #4c429b;
    text-decoration: none;
    font-size: 1rem;
}