*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    font-size: clamp(14px, 2vw, 18px);
}
body{
    background-color: #faf4e6;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #faf4e6cc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.links{
    display: flex;
    align-items: center;

}
.links ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.links ul li a{
    text-decoration: none;
    color: #333333;
    font-weight: 600;
}
.links ul li a:hover{
    color: #4c429b;
}
.auth button{
    padding: 10px 30px;
    border: 1px solid #4c429b;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    color: #4c429b;
    background-color: #ffffff;
}
#signUp{
    background-color: #4c429b;
    color: #ffffff;
    margin-left: 10px;
}
.links img{
    width: clamp(50px, 10vw, 50px);
    height: auto;
    border-radius: 50%;
}
.auth button:hover{
    background-color: #4c429b;
    color: #ffffff;
}
#signUp:hover{
    background-color: #ffffff;
    color: #4c429b;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    color: hsl(0, 0%, 100%);
    height: 70vh;
}
.banner-content{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
}
.intro{
    max-width: 65%;
}
.intro h1{
    font-size: clamp(4rem, 5vw, 4rem);
    font-weight: 900;
    margin-bottom: 20px;
    font-family: "Roboto Condensed", sans-serif;
}
.intro p{
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: 30px;
    line-height: 1.5;
}
.intro button{
    padding: 10px 30px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    border: none;
    border-radius: 10px;
    background-color: #4c429b;
    color: #ffffff;
    cursor: pointer;
}
.intro button:hover{
    background-color: #ffffff;
    color: #4c429b;
}

.info{
    color: white;
    background-color: #4c429b;
    padding: 150px 10px;
    width: 100%;
}
.conr{
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 50px;
    font-family: "Roboto Condensed", sans-serif !important;
}
.first .snd .thd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.snd{
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 40px;
}
.first h1 ,.snd h1,.thd h1{
    font-size: clamp(2rem, 3vw, 2.5rem);
    margin-bottom: 20px;
}
.reviews{
    background-color: #faf4e6;
}
.reviews h1{
    text-align: center;
    font-size: clamp(2rem, 3vw, 2.5rem);
    padding: 50px 0 0 0;
    color: #4c429b;

}
.revCard{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 50px 0;
}
.userCard{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    width: clamp(250px, 30vw, 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 500;
}
.userCard p{
    margin-top: 20px;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    line-height: 1.4;
    hyphens: auto;
    text-align: justify;
}
.userCard img{
    width: clamp(80px, 15vw, 100px);
    height: clamp(80px, 15vw, 100px);
    border-radius: 50%;
    margin-bottom: 20px;
}
.userName{
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 600;
    margin-bottom: 10px;
}
.CTA{
    background-color: #4c429b;
    color: #ffffff;
    text-align: center;
    padding: 50px 50px;
}
.CTA h1{
    font-size: clamp(2rem, 3vw, 2.5rem);
    margin-bottom: 5px;
}
.CTA p{
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: 30px;
    line-height: 1.5;
}
.CTA button{
    padding: 10px 30px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #4c429b;
    cursor: pointer;
}
.CTA button:hover{
    background-color: #4c429b;
    color: #ffffff;
    border: #ffffff solid 1px;
}
footer{
    background-color: #333333b5;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}