*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
:root{
    font-size: clamp(14px, 2vw, 18px);
}
body{
    background-color: #e4e4e4;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.links{
    display: flex;
    align-items: center;

}
.links ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.links ul li a{
    text-decoration: none;
    color: #333333;
    font-weight: 600;
}
.links ul li a:hover{
    color: rgb(56, 56, 248);
}
.auth button{
    padding: 10px 30px;
    border: 1px solid rgb(56, 56, 248);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(56, 56, 248);
    background-color: #ffffff;
}
#signUp{
    background-color: rgb(56, 56, 248);
    color: #ffffff;
    margin-left: 1opx;
}
.links img{
    width: clamp(50px, 10vw, 50px);
    height: auto;
    border-radius: 50%;
}
.auth button:hover{
    background-color: rgb(56, 56, 248);
    color: #ffffff;
}
#signUp:hover{
    background-color: #ffffff;
    color: rgb(56, 56, 248);
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-image: url('../images/pexels-cottonbro-5989926.jpg');
    background-size: cover;
    background-position: center;
    color: hsl(0, 0%, 100%);
    height: 70vh;
}
.banner-content{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 15px;
}
.intro{
    max-width: 65%;
}
.intro h1{
    font-size: clamp(4rem, 5vw, 4rem);
    font-weight: 900;
    margin-bottom: 20px;
}
.intro p{
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: 30px;
    line-height: 1.5;
}
.intro button{
    padding: 10px 30px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    border: none;
    border-radius: 10px;
    background-color: rgb(56, 56, 248);
    color: #ffffff;
    cursor: pointer;
}
.intro button:hover{
    background-color: #ffffff;
    color: rgb(56, 56, 248);
}

.color{
    color: white;
    background-color: rgb(56, 56, 248);
    padding: 150px 10px;
    width: 100%;
}
.conr{
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 50px;
}
.first .snd .thd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.snd{
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 40px;
}
.first h1 ,.snd h1,.thd h1{
    font-size: clamp(2rem, 3vw, 2.5rem);
    margin-bottom: 20px;
}